.cat-details {
   display: grid;
   grid-template-columns: 40% 60%;
   gap: 20px;
   justify-content: center;
   margin: auto;
   color:#291507;
   @media screen and (max-width: 900px) {
     grid-template-columns: 1fr;
     grid-gap: 20px;
   }

  @media screen and (max-width: 460px) {
     .cat-name {
         font-size: 20px;
     }
     p {
         font-size: 14px;
     }
  } 
}



.cat-img {
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 20px;
    overflow: hidden;
    width: 370px;
    height: 370px;
     img {
        object-fit: cover;
     }
     @media screen and (max-width: 900px) {
       margin: auto; 
       width: 300px;
       height: 300px;
     }
}

.sub-title {
   color:#291507;
   @media screen and (max-width: 750px) {
     font-size: 18px;
      
   }
}