.content-info {
  background: #e3e1dc;
  padding: 20px 90px;
  @media screen and (max-width: 768px) {
    padding: 20px 20px;
  }
  .info-header {
    display: flex;
    color: #291507;
    justify-content: space-between;
    position: relative;
    @media screen and (max-width: 768px) {
     padding-right: 100px; 
    }
    a {
      position: absolute;
      right: 0;
      bottom: 20px;
      @media screen and (max-width: 768px) {
        display: none;
         
      }
    }
  }
  p {
    margin: 0px;
  }
  .info-text {
    font-size: 18px;
    color:#291507;
    font-weight: 500;
    padding: 10px 0;
    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 3px;
      background:#291507;
      border-radius: 10px;
   }
   @media screen and (max-width: 768px) {
    font-size: 12px;
   }
  }
  .info-title {
    font-size: 48px;
    font-weight: bold;
    width: 450px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      width: 100%;
    }
  }
}

.main {
  border-radius: 20px;
  overflow: hidden;

  @media screen and (max-width: 460px) {
    border-radius: 40px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    @media screen and (max-width: 768px) {
     padding: 40px 0px; 
     justify-content: space-around;
    }
    & a {
      position: relative;
    }

    & a:first-child::before {
      content: ''; 
      position: absolute;
      width: 200px;
      height: 170px;
      right: 35px;
      bottom: 55px;
      border-radius: 14px;
      background:#DEC68B;
      @media screen and (max-width: 768px) {
        width: 100px;
        height: 100px;
        right: 40px;
        bottom: 45px;
      }
    }
  }
}



