.content__info {
  background: #e3e1dc;
   padding: 20px 50px;
  p {
    margin: 0px;
  }
  .info__text {
    font-size: 18px;
  }
  .info__title {
    font-size: 48px;
    font-weight: bold;
    width: 450px;
  }

}

.main {
    overflow: hidden;
    border-radius: 20px;
}