.suggestions {
  overflow-y: scroll;
  background: white;
  color: black;
  border: 5px solid white;
  border-radius: 10px; 
  width: 350px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
   a  {
    padding: 5px;
    margin: 8px;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 17px;
    &:hover {
      cursor: pointer;
    }
  }    

  &::-webkit-scrollbar {
    width: 5px;
    margin-right: 20px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 30px;
  }
  &::-webkit-scrollbar-thumb {
    background: #BDBDBD; 
    border-radius: 10px;
  }
}








